body {
  font-family: 'Roboto', sans-serif;
  // font-family: 'JETBRAINS MONO', sans-serif;
  background: #e8f0f9;
  @include font_style(13px, $black_63, 400);
}

html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

.bg-dark {
  background-color: #295786 !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.navbar-dark .navbar-nav .nav-link {
  @include font_style(14px, hsla(0, 0%, 100%, 0.822), 400)
}

@media (max-width: 992px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #295786;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }

  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

.navbar {
  padding: 0.6rem 1.25rem;
  display: flex;
  justify-content: space-between;

  .navbar-brand {
    font-size: 1.125rem;
    width: 49%;
  }

  .navbar-nav {
    .nav-item {
      .nav-link{
        font-weight: 500;
      }
      .dropdown-item {
        font-size: 14px;
      }
    }
  }
}